* {
    padding:0;
    margin:0;
    font-family: open sans ;
    box-sizing: border-box;
}
.navbar {
    width:100vw;
    height:57px;
    padding:6px 10px ;
    display:flex;
    justify-content: space-between  ;
    position:sticky;
    

}
.search {
    display:flex;
    align-items: center;
    gap:15px;
    height: 52px;
    padding-top:20px;
}
.add {
    padding-top: 8px;

}

.bold {
    color:#080808;
    font: bolder;
    font-weight:900;
}
.button {
    background-color: white;
    color:#FFB30E;
    box-shadow: 0 10px 25px rgba(255, 168, 0, 0.4); 
    padding :5px  24px ;
    border:1px solid white;
    border-radius: 5px;
    font-weight: bold; 
    margin-bottom: 15px;
    
    

}
.intro {
    background: linear-gradient(#e7cc04 , #FFB30E);
    height: 300px;
}
.site1 {
    padding-top: 40px;
    padding-left: 150px;
    margin-top: 15px;
}  
.are {
    color:white ;
    font-size: 50px;
    margin:0;
    font-weight: bolder;
} 
.p {
    font-weight: lighter;
    font-size: small;
    color:rgb(71, 70, 70)
}
.address {
    padding:10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
    width: 450px;
}   
.delivery {
    background-color: #fff7e4;
    color:#f17228;
    border-radius: 2px;
    border:1px solid white ;
    margin-right: 5px;
    padding:5px;
    font-weight: bold;
}
.pickup {
    background-color: white;
    color:grey;
    padding:5px;
    border:1px solid white ;
    font-weight: bold;
}
.enter {
    display:flex;
    align-items: center;
    background-color: #f5f5f5;
    width:80%;
    padding:8px 10px  ;
    border-radius: 3px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    gap:12px;
}
.enter i {
    font-size: small;
}
.enter input {
    border:none;
    outline: none;
    background: transparent;
    color:#ccc;
    width:80%;
}
.food {
    width:150px ;
    padding:10px 12px ;
    border-radius:5px;
    border:1px solid white ;
    background: linear-gradient(#f65900);
    color:white ;
    font-weight: bold;
}
.intro {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.picture-img {
    width: 350px;
    height: 250px;
    position: relative;
    right: 50px;
    transform: translate(50px);
}
.food-container {
    margin:40px 200px ;
    align-items: center;
    padding-bottom: 25px;

}
.col-3 {
    height:200px;
    width:500px;
}
.col-3 img {
    width:100%;
    height:auto;
    object-fit: cover;
}

.greys-vage {
    padding-top: 10px;
    font-weight: bold;
}
.days {
    background-color: #f6d8c1;
    color:#f17228 ;
    border : 1px solid white ;
    border-radius: 3px;
    font-weight:500px;
    padding:5px;
}
.site3 {
    background: linear-gradient(#f4ead1 , white);
    height:300px;
    

}
.site3>h2 {
    text-align: center;
    color:#f17228;
    font-weight: bold;
    padding-top: 20px;
}
.col-2>img {
    width: 200px;
    height: 100px; 
}
.option {
    font-size: medium;
    font-weight: bold ;
    text-align: center;

}
.detail {
    font-size: small;
    font-weight: lighter;
    text-align: center;
    color:#8d8787
}
.row2 {
    display: flex;
    align-items: center;
    justify-content:center;
    gap:10px ;
    margin-top: 20px;
}
.site4 {
    height:400px;
}
.popular-item{
    margin-left: 150px;
    margin-right: 150px;   
}
.popular-item>h3 {
    text-align: center;
    font-weight: bolder;
}
.card img {
      height: 150px;
      object-fit: cover;
    }

 .order-btn {
  background-color:#f17228;
  color: white;
  font-weight: bold;
  border: none;
  width: 100%;
  padding:10px 15px  ;
}
.arrow-btn {
 width: 40px;
 height: 40px;
border-radius: 50%;
background-color: orange;
color: white;
font-size: 20px;
border: none;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.carousel-wrapper {
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
}
.card-title {
    font-size: small;
    font-weight: bold;
    margin:0;
}
.card-text {
    font-size: small;
}
.price {
    font-size: medium;
    font-weight: bold;
}
.featured-resturant {
    margin-left: 150px;
    margin-right: 150px;
}
.Restaruant {
    text-align: center;
    font-weight: bold;
}
.card-box {
  width: 100%;
  aspect-ratio: 1 / 1; /* make it square */
  overflow: hidden;
  border-radius: 10px; /* optional: round corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* optional */
  position: relative;
}

.food-img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* fills and crops nicely */
  display: block;
}
.small-card {
  max-width: 250px;  /* you can change this */
  width: 30%; /* Try 20%, 30% as you like */
  min-width: 200px;
  aspect-ratio: 1 / 1;
}



.badge {
    position: absolute;
    top: 0;
    display: flex;
    gap: 10px;
     padding-top: 20px;

}
.off {
    padding:5px 10px ;
    background-color: #f17228;
    color:white;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.fast {
    padding:5px 10px ;
    background-color: #FFB30E;
    color:white;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;

}
.info {
    display:flex ;
}
.open {
    background-color:#f6d8c1;
    color:#f17228;
    border-radius: 10px;
    border:1px solid white ;
    padding:4px 8px ;
}
.rest-container {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;


}
.Featured-restuarant {
    font-weight: bold;
    text-align: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;

}
.badge-wrapper {
    position: relative;
}
.open-badge {
    background-color: #f4e1d5;
    color:#f17228;
    border-radius: 15px;
    position: absolute;
    padding: 5px 16px ;
    margin-top: 15px;
}
.row {
    margin-bottom: 20px;
}





